{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{{ form_start(form) }}
    <h1>Inscription</h1>
    {{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
{% endblock %}
